<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kal.web.mapper">
	<resultMap id="Schedule" type="com.kal.web.domain.Schedule">
		<id property="sche_seq" column="sche_seq" />
		<result property="route_seq" column="route_seq" />
		
	</resultMap>

	<!--C -->
	<insert id="addSchedule">
	
	</insert>

	<!--  COUNT  -->
	<select id="findNumberOfSchedules" resultType="int">
	</select>

	<!--R -->
	<select id="findSchedule" resultMap="Schedule" parameterType="Schedule">
	</select>
	<select id="findSchedules" resultMap="List" parameterType="Map">
	</select>

	<!--U -->
	<update id="updateSchedule">
	</update>
	
	<!--D-->
	<select id="deleteSchedule" >
	</select>

</mapper>